---
swagger: "2.0"
info:
  description: "description"
  version: "1.0.0"
  title: "title"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "suporte@mail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "wwww.local.com"
basePath: "/basePath/Test"
tags:
- name: "Tags"
  description: "Description"
- name: "RH"
  description: "Description"

schemes:
- "https"
- "http"
paths:
  /Test:
    post:
      tags:
      - "Tags"
      summary: testing
      operationId: addTest
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: body
        name: body
        description: new object for testing
        required: true
        schema:
          $ref: '#/definitions/TrakingUsuarioCurso'
      responses:
        405:
          description: Entrada inválida

securityDefinitions:
  learning_auth:
    type: "apiKey"
    name: "Authorization"
    in: "header"

definitions:
  TrakingUsuarioCurso:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      dataInicio:
        type: "string"
        format: "date-time"
        example: "2017-07-21T17:32:28Z"
      dataFim:
        type: "string"
        format: "date-time"
        example: "2017-09-21T17:32:28Z"
      percentualConclusao:
        type: "integer"
        format: "int64"
        example: "70"
      cursoInstancia:
        $ref: '#/definitions/Curso'
      trakingTopicoInstanciaAtual:
        $ref: '#/definitions/TrakingTopicoInstancia'
      trackingTopicosInstancias:
        type: "array"
        xml:
          wrapped: true
        items:
          $ref: '#/definitions/TrakingTopicoInstancia'

  TrakingTopicoInstancia:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      dataInicio:
        type: "string"
        format: "date-time"
        example: "2017-07-21T17:32:28Z"
      dataFim:
        type: "string"
        format: "date-time"
        example: "2017-09-21T17:32:28Z"
      percentualConclusao:
        type: "integer"
        format: "int64"
        example: "70"
      topicoInstancia:
        $ref: '#/definitions/TopicosInstancia'

  RoteiroApredizagemInstancia:
    type: "object"
    required:
    - "nome"
    properties:
      id:
        type: "integer"
        format: "int64"
      nome:
        type: "string"
        example: "Roteiro sobre Análise e tecnica de amostragem"
      topicosInstancias:
        type: "array"
        xml:
          wrapped: true
        items:
          $ref: "#/definitions/TopicosInstancia"
    example:
      nome: "Roteiro sobre Análise e tecnica de amostragem"
      id: 6
      topicosInstancias:
      - nome: "Apresentacao Disciplina"
        id: 1
        conteudovinculado: false
        subTopicoInstancias:
        - null
        - null
      - nome: "Apresentacao Disciplina"
        id: 1
        conteudovinculado: false
        subTopicoInstancias:
        - null
        - null
    xml:
      name: "RoteiroApredizagemInstancia"
  TopicosInstancia:
    type: "object"
    required:
    - "nome"
    properties:
      id:
        type: "integer"
        format: "int64"
      nome:
        type: "string"
        example: "Apresentacao Disciplina"
      conteudovinculado:
        type: "boolean"
        example: false
      subTopicoInstancias:
        type: "array"
        xml:
          wrapped: true
        items:
          $ref: "#/definitions/TopicosInstancia"
    example:
      nome: "Apresentacao Disciplina"
      id: 1
      conteudovinculado: false
      subTopicoInstancias:
      - null
      - null
    xml:
      name: "TopicosInstancia"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"